.nyc_output
coverage
build
node_modules
src
__tests__
lib
npm-debug.log
yarn-error.log
Makefile
*.map
.vscode
tsconfig.json
tsconfig.release.json
jest.config.js
.gitmodules
.eslintrc.js
.editorconfig
